<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    
    # перенаправляем все запросы на index.php 
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^api/ index.php [QSA,L]
    
    # для фронта перенаправляем на index.html
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ /index.html [L]
</IfModule>